/* DEFAULTS ------------------------------------*/
html{background-color:transparent;}
body{background-color:#FFF;width:990px;height:100%;font-family:Tahoma;font-size:12px;clear:both;color:#000000;margin:0px auto;}
select,input{clear:both;color:#000000;border:1px solid #920000;margin:1px 0px;height:24px;line-height:24px;}
select:focus,input:focus{background-color:#000;color:#FFF;}
textarea{clear:both;color:#000000;border:1px solid #eaeaea;}
select:hover,input:hover,textarea:hover{background-color:#eaeaea;border:1px solid #000;}
textarea:focus{background-color:#eaeaea;color:#fff}
option{height:25px;line-height:25px;color:#FFF;}
form,p,h1,h2,h3,h4,h5,h6,ul,li{margin:0px;padding:0px;}

/* HEADINGS   
----------------------------------------------------------*/
/* this rule styles <h1> and <h2> tags that are the 
first child of the left and right table columns */
.rightColumn > h1, .rightColumn > h2, .leftColumn > h1, .leftColumn > h2
{
    margin-top: 0px;
}


/* PRIMARY LAYOUT ELEMENTS   
----------------------------------------------------------*/

#page
{
    width: 990px;
    background-color:transparent;
    clear:both;
    margin:0px auto;
}

#header
{clear: both;
    margin: 0px;
    padding: 0px;
    width: 100%;
}
#header .Logo{float:left;width:200px;height:100px; background-image:url(../images/masterPage/logo_philtinternational.png); background-repeat:no-repeat}
#header .BannerDisplay{float:left;height:100px;width:470px;text-align:center;}
#header .BannerDisplay img{padding:20px 1px;margin:0px}
#header .loginDisplay
{
    width:280px;
    float:right;
    height:100px;
    font-size: 1.1em;
    text-align: right;
    padding: 10px;
    color: #000;
    margin-left: 0px;
}

#header .loginDisplay a:link{color: #000;}
#header .loginDisplay a:visited{color: #000}
#header .loginDisplay a:hover{color: #920000;}


.main
{
    float: left;
    width:75%;
}
.main  h1{line-height:30px;text-align:center;font-weight:bold;font-size:1.4em;color:#F00}

.leftCol
{
    padding: 6px 0px;
    width: 25%;
    min-height: 200px;
    
}

.footer
{
    color: #4e5766;
    clear:both;
    float:left;
    height:50px;
    margin: 0px auto;
    text-align:center;
    font-size: 18px;
    width: 100%;
}

.leftmenu
{
    float: left;
    width: 25%;
    padding:0px 0px 20px 0px;
}

/* TAB MENU   
----------------------------------------------------------*/

div.hideSkiplink
{
    background-color: #3a4f63;
    width: 100%;
}

div.menu
{
    padding: 4px 0px 4px 8px;
}

div.menu ul
{
    list-style: none;
    margin: 0px;
    padding: 0px;
    width: auto;
}

div.menu ul li a, div.menu ul li a:visited
{
    border: 1px #4e667d solid;
    color: #dde4ec;
    display: block;
    line-height: 1.35em;
    padding: 4px 20px;
    text-decoration: none;
    white-space: nowrap;
}

div.menu ul li a:hover
{
    background-color: #bfcbd6;
    color: #465c71;
    text-decoration: none;
}

div.menu ul li a:active
{
    background-color: #465c71;
    color: #cfdbe6;
    text-decoration: none;
}

/* FORM ELEMENTS   
----------------------------------------------------------*/

fieldset
{
    margin: 1em 0px;
    padding: 1em;
    border: 1px solid #ccc;
}

fieldset p
{
    margin: 2px 12px 10px 10px;
}

fieldset.login label, fieldset.register label, fieldset.changePassword label
{
    display: block;
}

fieldset label.inline
{
    display: inline;
}

legend
{
    font-size: 1.1em;
    font-weight: 600;
    padding: 2px 4px 8px 4px;
}

input.textEntry
{
    width: 320px;
    border: 1px solid #ccc;
}

input.passwordEntry
{
    width: 320px;
    border: 1px solid #ccc;
}

div.accountInfo
{
    width: 42%;
}

/* MISC  
----------------------------------------------------------*/

.clear
{
    clear: both;
}

.title
{
    display: block;
    float: left;
    text-align: left;
    width: auto;
}


.failureNotification
{
    font-size: 1.2em;
    color: Red;
}

.bold
{
    font-weight: bold;
}

.submitButton
{
    text-align: right;
    padding-right: 10px;
}




table{margin-right: 0px;
}
table tr th{font-weight:bold;line-height:26px;}
table tr td{line-height:20px}
table tr{background-color:#FFF;color:#F00}
table tr.alternate{background-color:#F00;color:#FFF;}

.bloccoLotto
{
    float:left;
    width:32%;
    height:300px;
    border:1px solid #eaeaea;
    margin:1px
}
.bloccoLotto h4{text-transform:uppercase;padding:2px;color:#000066;height:20px;line-height:20px;text-align:center}
.bloccoLotto img{padding:5px 65px;border:0px;}
.bloccoLotto p
{   
    padding:3px;
    margin:1px 0px;
 }
 .bloccoLotto span{font-weight:bold;color:#00aa00}
 
.lottoOfferta{text-align:center;font-weight:bold;}
.lottoOfferta a{display:block;height:20px;text-decoration:none;padding:3px}
.lottoOfferta a:focus{color:#FF0000}
.lottoOfferta a:hover{color:#920000}
.offerta_fatta{height:20px;color:#fff;background-color:gray}
ul{list-style:none}
#accordion div:hover{background-color:transparent}

h3.paragrafo a{display:block;font-weight:bold;height:25px;color:#000;text-decoration:none;font-size:12px;margin:2px 0px;}
h3.paragrafo a:focus,.paragrafo a:active{color:#920000;}
h3.paragrafo a:hover{border:none;}
ul li.argomento a{display:block;color:#000;text-decoration:none;height:20px;line-height:20px;margin:1px 0px;}
ul li.argomento a:hover{text-decoration:underline;}
ul li.subargomento a{display:block;text-decoration:none;height:20px;line-height:20px;margin:1px 0px;color:#060}
ul li.subargomento a:hover{text-decoration:underline;}

/* jquery */
/*
.ui-icon { display: block; text-indent: -99999px; overflow: hidden; background-repeat: no-repeat; }

.ui-dialog { position: absolute; padding: .2em; width: 300px; overflow: hidden; }
.ui-dialog .ui-dialog-titlebar { padding: .5em 1em .3em; position: relative;  }
.ui-dialog .ui-dialog-title { float: left; margin: .1em 16px .2em 0; } 
.ui-dialog .ui-dialog-titlebar-close { position: absolute; right: .3em; top: 50%; width: 19px; margin: -10px 0 0 0; padding: 1px; height: 18px; }
.ui-dialog .ui-dialog-titlebar-close span { display: block; margin: 1px; }
.ui-dialog .ui-dialog-titlebar-close:hover, .ui-dialog .ui-dialog-titlebar-close:focus { padding: 0; }
.ui-dialog .ui-dialog-content { position: relative; border: 0; padding: .5em 1em; background: none; overflow: auto; zoom: 1; }
.ui-dialog .ui-dialog-buttonpane { text-align: left; border-width: 1px 0 0 0; background-image: none; margin: .5em 0 0 0; padding: .3em 1em .5em .4em; }
.ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset { float: right; }
.ui-dialog .ui-dialog-buttonpane button { margin: .5em .4em .5em 0; cursor: pointer; }
.ui-dialog .ui-resizable-se { width: 14px; height: 14px; right: 3px; bottom: 3px; }
.ui-draggable .ui-dialog-titlebar { cursor: move; }
*/
/*
.ui-corner-tl { -moz-border-radius-topleft: 4px; -webkit-border-top-left-radius: 4px; border-top-left-radius: 4px; }
.ui-corner-tr { -moz-border-radius-topright: 4px; -webkit-border-top-right-radius: 4px; border-top-right-radius: 4px; }
.ui-corner-bl { -moz-border-radius-bottomleft: 4px; -webkit-border-bottom-left-radius: 4px; border-bottom-left-radius: 4px; }
.ui-corner-br { -moz-border-radius-bottomright: 4px; -webkit-border-bottom-right-radius: 4px; border-bottom-right-radius: 4px; }
.ui-corner-top { -moz-border-radius-topleft: 4px; -webkit-border-top-left-radius: 4px; border-top-left-radius: 4px; -moz-border-radius-topright: 4px; -webkit-border-top-right-radius: 4px; border-top-right-radius: 4px; }
.ui-corner-bottom { -moz-border-radius-bottomleft: 4px; -webkit-border-bottom-left-radius: 4px; border-bottom-left-radius: 4px; -moz-border-radius-bottomright: 4px; -webkit-border-bottom-right-radius: 4px; border-bottom-right-radius: 4px; }
.ui-corner-right {  -moz-border-radius-topright: 4px; -webkit-border-top-right-radius: 4px; border-top-right-radius: 4px; -moz-border-radius-bottomright: 4px; -webkit-border-bottom-right-radius: 4px; border-bottom-right-radius: 4px; }
.ui-corner-left { -moz-border-radius-topleft: 4px; -webkit-border-top-left-radius: 4px; border-top-left-radius: 4px; -moz-border-radius-bottomleft: 4px; -webkit-border-bottom-left-radius: 4px; border-bottom-left-radius: 4px; }
.ui-corner-all { -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px; }
*/

.ui-accordion { width: 100%; }
.ui-accordion .ui-accordion-header { cursor: pointer; position: relative; margin-top: 1px; zoom: 1; }
.ui-accordion .ui-accordion-li-fix { display: inline; }
.ui-accordion .ui-accordion-header-active { border-bottom: 0 !important; }
.ui-accordion .ui-accordion-header a { display: block; font-size: 1em; padding: .5em .5em .5em .7em; }
.ui-accordion-icons .ui-accordion-header a { padding-left: 2.2em; }
.ui-accordion .ui-accordion-header .ui-icon { position: absolute; left: .5em; top: 50%; margin-top: -8px; }
.ui-accordion .ui-accordion-content { padding: 1em 2.2em; border-top: 0; margin-top: -2px; position: relative; top: 1px; margin-bottom: 2px; overflow: auto; display: none; zoom: 1; }
.ui-accordion .ui-accordion-content-active { display: block; }


/*shadowbox */
#sb-title-inner,#sb-info-inner,#sb-loading-inner,div.sb-message{font-family:"HelveticaNeue-Light","Helvetica Neue",Helvetica,Arial,sans-serif;font-weight:200;color:#fff;}
#sb-container{position:fixed;margin:0;padding:0;top:0;left:0;z-index:999;text-align:left;visibility:hidden;display:none;}
#sb-overlay{position:relative;height:100%;width:100%;}
#sb-wrapper{position:absolute;visibility:hidden;width:590px;}
#sb-wrapper-inner{position:relative;border:1px solid #303030;overflow:hidden;height:100px;}
#sb-body{position:relative;height:100%;}
#sb-body-inner{position:absolute;height:100%;width:100%;}
#sb-player.html{height:100%;overflow:auto;}
#sb-body img{border:none;}
#sb-loading{position:relative;height:100%;}
#sb-loading-inner{position:absolute;font-size:14px;line-height:24px;height:24px;top:50%;margin-top:-12px;width:100%;text-align:center;}
#sb-loading-inner span{background:url(loading.gif) no-repeat;padding-left:34px;display:inline-block;}
#sb-body,#sb-loading{background-color:#eaeaea;}
#sb-title,#sb-info{position:relative;margin:0;padding:0;overflow:hidden;}
#sb-title,#sb-title-inner{height:26px;line-height:26px;}
#sb-title-inner{font-size:16px;}
#sb-info,#sb-info-inner{height:20px;line-height:20px;}
#sb-info-inner{font-size:12px;}
#sb-nav{float:right;height:16px;padding:2px 0;width:45%;}
#sb-nav a{display:block;float:right;height:16px;width:16px;margin-left:3px;cursor:pointer;background-repeat:no-repeat;}
#sb-nav-close{background-image:url(../images/shadowbox/close.png);}
#sb-nav-next{background-image:url(..images/shadowbox/next.png);}
#sb-nav-previous{background-image:url(../images/shadowbox/previous.png);}
#sb-nav-play{background-image:url(../images/shadowbox/play.png);}
#sb-nav-pause{background-image:url(../images/shadowbox/pause.png);}
#sb-counter{float:left;width:45%;}
#sb-counter a{padding:0 4px 0 0;text-decoration:none;cursor:pointer;color:#fff;}
#sb-counter a.sb-counter-current{text-decoration:underline;}
div.sb-message{font-size:12px;padding:10px;text-align:center;}
div.sb-message a:link,div.sb-message a:visited{color:#fff;text-decoration:underline;}
/* news ticker*/
div#info {float:left;width:65%;}
div#info.ok {border-left-color: #ACD083;}
div#info.otravez {border-left-color: #DC7873}
div#info ul {margin-top: 10px;}
div#info ul li {float: left;margin-right: 10px}
div#info ul li a:hover img {border: 1px solid #666;}
div#info ul li img {border: 1px solid #ccc;}
        
ul#ticker {height: 150px;overflow: hidden;}
ul#ticker li {padding: 10px;height:130px;}
ul#ticker li a {color: #666;}
ul#ticker li span {display: block;color: #06C;}