<?xml version="1.0"?>
<configuration>
	<connectionStrings>
	<add name="PhilinternationalConnectionString" connectionString="server=127.0.0.1;User Id=root;Persist Security Info=True;database=philinternational"/>
	<!--<add name="PhilinternationalConnectionString" connectionString="server=localhost;User Id=utentePhil;Password=F1lat3l1a;database=philinternational;Persist Security Info=True;"/>-->
	</connectionStrings>
	<appSettings>
		<add key="UserInfos" value="SELECT anagrafica.email, anagrafica.password, anagrafica.idanagrafica, anagrafica.nome, anagrafica.cognome, anagrafica.codice_fiscale, anagrafica.dom_via, anagrafica.dom_indirizzo, anagrafica.dom_num_civico, anagrafica.dom_cap, anagrafica.dom_comune, anagrafica.dom_provincia,anagrafica.dom_nazione, anagrafica.stato, anagrafica.data_inserimento, profilo.descrizione AS RoleDescription, profilo.amministrazione AS Role, anagrafica.idprofilo FROM anagrafica INNER JOIN profilo ON anagrafica.idprofilo = profilo.idprofilo WHERE  (anagrafica.email = @email) AND (anagrafica.password = @password)"/>
		<!--MAIN SELECTS-->
		<add key="ChangeStateNewsById" value="UPDATE news SET stato=@newValue WHERE idnews=@codice"/>
		<!--ENTITIES-->
		<add key="LegendaStato" value="SELECT id_stato, descrizione from legenda_stato"/>	 
			<add key="mailSmtp" value="smtp.tiscali.it" />
			<add key="mailUser" value="michel.benedetti@tiscali.it"/>
			<add key="mailPassword" value="calice11"/>
			<add key="mailtoReply" value="michel.benedetti@tiscali.it"/>
			<add key="mailAlias" value="infoTest@philinternational.it"/>
			<!-- 
			<add key="mailSmtp" value="smtp.philinternational.it" />
			<add key="mailUser" value="info@philinternational.it"/>
			<add key="mailPassword" value="cimarosa"/>
			<add key="mailtoReply" value="info@philinternational.it"/>
			<add key="mailAlias" value="info@philinternational.it"/>
			-->
		<add key="ftpUser" value="philinternation"/>
		<add key="ftpPassword" value="8jnTzFk5R"/>
		<add key="ftpPUrl" value="ftp.philinternational.it"/>
	</appSettings>
	<system.web>
    
    <caching>
      <outputCacheSettings>
        <outputCacheProfiles>
          <add name="Cache24Hours" duration="1"  varyByParam="none" />
        </outputCacheProfiles>
      </outputCacheSettings>
    </caching>
    	<compilation debug="true" targetFramework="4.0"/>
		<authentication mode="Forms">
			<forms loginUrl="~/Account/Login.aspx"/>
		</authentication>
    <customErrors mode="Off"></customErrors>
		</system.web>
  
  <!--
	<system.data>
		<DbProviderFactories>
			<add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.3.5.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
		</DbProviderFactories>
	</system.data>
 -->
</configuration>
